body {
  box-sizing: border-box;
}
.main {
  display: flex;
}
h1 {
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 80px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: -1px -1px 0 firebrick, -2px -2px 0 firebrick,
    -3px -3px 0 rgb(34, 27, 27), -4px -4px 0 firebrick, -5px -5px 0 firebrick,
    -6px -6px 0 firebrick, -7px -7px 0 firebrick, -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}
.numbers {
  margin-left: 10rem;
}
.images {
  border-radius: 50%;
  height: 20rem;
  width: 25rem;
  transition: all 0.2s ease-in-out;
}

.image_div {
    position: relative;
    top: 50px;
    left: 270px;
    right: 3rem;
}

.images:hover {
  box-shadow: 10px 10px grey;
  transform: scale(1.1);
}
.fas {
  font-size: 0.5in;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:tomato;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
